<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký tài khoản Skypos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="icon" href="https://res.cloudinary.com/dgdprmwhy/image/upload/v1497550132/gat_icon_uptr2p.png" /> -->
    <div style='margin:0px;padding:0px'>
        <table width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#ffffff'>
            <tr>
                <td>
                    <table border='0' width='510' cellspacing='0' cellpadding='0' align='center'>
                        <tbody>
                        <tr>
                            <td >
                                <div style='margin-left:30px;margin-top:25px;width:65px;height:65px'>
                                    <img style='width:100%;height:auto' src="https://static.topcv.vn/company_logos/cong-ty-co-phan-dd-solution-5fc5ca9c369ae.jpg"/>
                                </div>
                                <div style='margin-left:30px;margin-top:20px;width:450px;text-align:justify;text-justify:inter-word'>
                                    <p style='color:#41a8ce;font-size:105%;'><b>SKYPOS</b></p>
                                    <p style='font-size:105%;'><b th:text="|Xin chào ${name},|"></b></p>
                                    <p style='font-size:105%;'><b>Chào mừng bạn đến với Skypos!</b></p>
                                    <p>Bạn đang tạo một tài khoản skypos với địa chỉ email này.</p>
                                    <p>Đây là mã xác minh của bạn: <b th:text="| ${otp}|"></b></p>
                                    <p>Mã xác minh này sẽ hết hạn sau 2 phút.</p>
                                    <p>Trân trọng,</p>
                                    <p>Skypos Team</p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</html>